html {
    overflow: hidden;
}

body {
    margin: 0px;
}

.main-fade-enter,
.main-fade-leave-to {
    display: none;
    opacity: 0;
    animation: main-fade 0.4s reverse;
}

.main-fade-enter-active,
.main-fade-leave-active {
    opacity: 0;
    animation: main-fade 0.4s;
}

@keyframes main-fade {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.w-e-bar-bottom .w-e-select-list {
    margin-bottom: -140px;

    .w-e-select-list ul li {
        top: 0%;
    }

    .editor-content-view input[type="checkbox"] {
        margin-right: 5px;
    }
}

.w-e-text-container * {
    margin: 4px 1px !important;
    position: relative;
    top: -0.5px;
}

.w-e-scroll,
.w-e-scroll>div {
    margin: 0px !important;
}

.w-e-text-placeholder {
    position: absolute;
    margin: 0px !important;
    top: 0px;
}

.w-e-textarea-divider {
    padding: 3px;
}

.w-e-text-container [data-slate-editor] {
    padding: 0px;
}

.w-e-hover-bar {
    border: 1px solid var(--w-e-toolbar-border-color);
    border-radius: 3px;
    box-shadow: 0 2px 5px #0000001f;
    position: absolute;
    top: 28px;
}

.w-e-text-container [data-slate-editor] .table-container {
    width: 99%;

    tbody * {
        margin: 0px !important;
        top: 0px;
    }


}

.dark {
    background: #393939;
    height: 100vh;
    width: 100vw;
    --w-e-toolbar-color: #fff; //文字svg颜色
    --w-e-toolbar-active-color: #fff !important; //提示框颜色
    // --el-bg-color: #393939;
    --w-e-toolbar-bg-color: #393939; //menu背景颜色
    --w-e-toolbar-active-bg-color: rgb(150, 150, 150); //hover 的背景颜色
    --w-e-toolbar-active-color: #333;
    --w-e-textarea-slight-bg-color: #333; //表格头部栏

    // --w-e-toolbar-disabled-color: red;
    // --w-e-toolbar-border-color: red; //分割线，还有边框颜色
    // --w-e-modal-button-bg-color: red;

    @mixin drak {
        background: #393939 !important;
        color: #fff !important;
    }

    .el-input__wrapper {
        @include drak
    }

    .item {
        @include drak;

        .ArrowDownBold {
            background: #636363 !important;
        }
    }

    .w-e-text-container {
        @include drak
    }

    .w-e-toolbar {
        @include drak;

        .w-e-bar-item .active {
            background-color: #393939 !important;
        }

        .w-e-bar-item:hover {
            background-color: #393939 !important;
        }
    }

    .header_main,
    .set_main,
    .home,
    .loadMore {
        color: #fff;
    }
}