html {
    overflow: hidden;
}

body {
    margin: 0px;
}

.divider {
    height: 1px;
    background: #d2d2d2;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.main-fade-enter,
.main-fade-leave-to {
    display: none;
    opacity: 0;
    animation: main-fade 0.4s reverse;
}

.main-fade-enter-active,
.main-fade-leave-active {
    opacity: 0;
    animation: main-fade 0.4s;
}

@keyframes main-fade {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

//富文本
.w-e-text-container * {
    margin: 4px 1px !important;
    position: relative;
    top: -0.5px;
}

.w-e-bar-bottom .w-e-select-list {
    margin-bottom: -140px !important;

    .w-e-select-list ul li {
        top: 0%;
    }

    .editor-content-view input[type="checkbox"] {
        margin-right: 5px;
    }
}



.w-e-scroll,
.w-e-scroll>div {
    margin: 0px !important;
}

.w-e-text-placeholder {
    position: absolute;
    margin: 0px !important;
    top: 0px;
}

.w-e-textarea-divider {
    padding: 3px;
}

.w-e-hover-bar {
    .w-e-select-list ul li {
        margin: 0px !important;
    }

    .w-e-select-list ul li svg {
        margin: 0px !important;
        top: 28% !important;
    }
}

.w-e-text-container [data-slate-editor] ul {
    top: 0px !important;

    li {
        top: 0px !important;
    }
}

.w-e-text-container [data-slate-editor] {
    padding: 0px;
    height: 100%
}

.w-e-hover-bar {
    border: 1px solid var(--w-e-toolbar-border-color);
    border-radius: 3px;
    box-shadow: 0 2px 5px #0000001f;
    position: absolute;
    top: 28px;
}

.w-e-text-container [data-slate-editor] .table-container {
    width: 99%;

    tbody * {
        margin: 0px !important;
        top: 0px;
    }


}

.dark {
    // background: #393939;
    $darkBg: #393939;
    height: 100vh;
    width: 100vw;
    --w-e-toolbar-color: #fff; //文字svg颜色
    --w-e-toolbar-active-color: #fff !important; //提示框颜色
    // --el-bg-color: #393939;
    --w-e-toolbar-bg-color: $darkBg; //menu背景颜色
    --w-e-toolbar-active-bg-color: rgb(150, 150, 150); //hover 的背景颜色
    --w-e-toolbar-active-color: #333;
    --w-e-textarea-slight-bg-color: #333; //表格头部栏
    --el-fill-color-blank: $darkBg; //树组件背景颜色
    --el-text-color-regular: #fff; //树组件文字颜色
    --el-fill-color-light: #5b5b5b; //树组件行鼠标停留
    // --w-e-toolbar-disabled-color: red;
    // --w-e-toolbar-border-color: red; //分割线，还有边框颜色
    // --w-e-modal-button-bg-color: red;

    @mixin drak {
        background: $darkBg  !important;
        color: #fff !important;
    }


    .wrap,
    .context_menu,
    .el-input__wrapper {
        @include drak
    }

    .item {
        @include drak;

        .ArrowDownBold {
            background: #636363 !important;
        }
    }

    .w-e-text-container {
        @include drak
    }

    .w-e-toolbar {
        @include drak;

        .w-e-bar-item .active {
            background-color: $darkBg  !important;
        }

        .w-e-bar-item:hover {
            background-color: $darkBg  !important;
        }
    }

    .header_main,
    .set_main,
    .home,
    .loadMore {
        color: #fff;
    }

    .mind_map {
        svg {
            background-color: $darkBg;

            foreignObject {
                color: #000;
            }

            .root_rect>rect {
                fill: $darkBg  !important;
            }

            text {
                fill: #fff;
            }
        }
    }

    .el-tree-node {
        .row {
            .no-left {
                color: #f2f2f2;
            }

            .no-left:hover {
                color: #fff;
                box-shadow: 0 0 4px #cbcbcb;
            }
        }

        .line_menu::before {
            background-color: #fff !important;
        }
    }
}

.isLeft {
    .left_main {
        width: 75% !important;
        transition: all 0.5;

        .header_main {
            padding: 8px 5px;

            .title {
                width: 136%;
                text-align: center;
                margin-left: 10%;
                padding: 0px 10px;
            }
        }


    }

    .right_main {
        width: 40% !important;
        transition: all 1s;

        .index_main {
            width: 100%;

            // .content {
            //     height: 0px !important;
            //     transition: all 0.5s;

            .editor {
                height: 0px !important;
                transition: all 0.5s;
            }

            // }

        }
    }
}



//树组件


.el-tree-node {
    white-space: normal !important;
    word-wrap: break-word !important;

}

.ly-tree-container {
    width: 90%;
    padding: 0px 20px 20px 38px;
    white-space: normal !important;
    word-wrap: break-word !important;

    span {
        font-size: 14px;
    }



    .el-tree-node__content:first-child {

        &::before,
        &::after {
            border: none;
        }
    }

    .ly-visible {
        margin-left: 50px;
        visibility: hidden;
    }

    .ly-edit__text {
        width: 25%;
        height: 25px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        color: #666;
        text-indent: 10px;
    }

    .ly-tree__loading {
        color: #666;
        font-weight: bold;
    }

    .node_main {
        position: relative;


    }

    .ly-tree-node {
        flex: 1;
        display: flex;
        // align-items: center;
        // justify-content: space-between;
        justify-content: flex-start;
        font-size: 14px;
        padding-right: 8px;
        text-align: left;
        margin-bottom: 3px;


        .line_menu {
            list-style: none;
            text-align: center;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            z-index: 99;
            line-height: 22px;
            position: relative;
            top: 2px;
        }

        .line_menu::before {
            content: "";
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: black;
            vertical-align: middle;
            border-radius: 50%;
            margin-top: -3px;
        }
    }

    .ly-tree-node>div>span:last-child {
        display: inline-block;
        width: 110px;
        text-align: left;
    }

    .ly-tree-node>span:last-child {
        display: inline-block;
        width: 110px;
        text-align: left;
    }

    .el-tree-node>.el-tree-node__children {
        overflow: visible;
        transition: all 0.5s;
    }

    .el-tree-node .el-tree-node__content {
        height: auto;
        margin-top: 10px;

        .line {
            height: 2px;
            background-color: rgba(67, 67, 255, 0.786);
            width: 100%;
            position: absolute;
            z-index: 10;
            top: 21px;
            display: none;
        }

        &:hover .ly-visible {
            visibility: visible;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            right: auto;
        }

        &::before {
            border-left: 3px solid #e6e6e6;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
            margin-left: -9px;
        }

        // &::after {
        //     border-top: 3px solid #e6e6e6;
        //     height: 20px;
        //     top: 14px;
        //     width: 10px;
        //     margin-left: -5px;
        // }
    }

    .el-tree .el-tree-node {
        position: relative;
        width: 50vw
    }
}